<h2><%= title %></h2>
<section class="deck">
  <% items.forEach(item => { %>
    <div class="card">
        <header>
            <h2><%= item.name %></h2>
        </header>
    </div> 
  <% }) %>
</section>

